
.slick-arrow {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    border: 2px solid #fff;
    @include border-radius(50%);
    color: #fff;
    height: 40px;
    left: 30px;
    opacity: 0.7;
    top: 50%;
    @include transform(translateY(-50%));
    width: 40px;
    z-index: 2;
    // display: none !important;
    &:hover {
	    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
	    color: #fff;
    }
    &::before {
	    border-left: 2px solid #fff;
	    border-top: 2px solid #fff;
	    content: "";
	    height: 15px;
	    left: 13px;
	    position: absolute;
	    top: 50%;
	     @include transform(translateY(-50%) rotate(-45deg));
	    width: 15px;
	    z-index: 3;
	}
}
.slick-next {
    left: auto;
    right: 30px;
    &::before {
	    left: 8px;
	    @include transform(translateY(-50%) rotate(-225deg));
	}
}

//
.banner-slide, .partner-content {
	&:hover {
		.slick-arrow {
			display: block !important;
		}
	}
}

//
.partner-content {
	.slick-arrow {
	    left: 0;
	}
	.slick-next {
	    left: auto;
	    right: 0;
	}
}

