.content-contact{
	.wpcf7{
		background: #ecf0f1;
		padding: 20px;
		.contact-form{
			label{
				color: $blue-contact;
				font-weight: bold;	
				font-size: 16px;
				margin-bottom: 6px;
				width: 100%;
				input{
					margin-top: 6px;
					width: 100%;
					padding: 2px 10px;
					background-color: white !important;
					border: 1px solid #a1a1a1;
				}
			}
			.wpcf7-submit {
				color: #fff;
				background-color: $blue-contact;
				border: none;
				font-weight: bold;
				font-style: 16px;
				padding: 5px 20px;
				margin-top: 5px;
				cursor: pointer;
			}
			textarea{
				height: 265px;
				width: 100%;
				margin-top: 8px;
				padding: 5px 10px;
				border: 1px solid #a1a1a1;
			}
		}
		.wpcf7-validation-errors{
			color: red;
			font-weight: bold;
			padding: 0px;
			margin: 0px;
			border: none;
			text-transform: uppercase;
			 margin-top: 20px;
		}
		div.wpcf7-mail-sent-ng{
			color: red;
			font-weight: bold;
			padding: 0px;
			margin: 0px;
			border: none;
			text-transform: uppercase;
			margin-top: 20px;
		}
		div.wpcf7-mail-sent-ok{
			border: none;
			margin: 0px;
			padding: 0px;
			text-transform: uppercase;
			font-weight: bold;
			color: $blue-contact;
		    margin-top: 20px;
		}
	}
}