.page-navi {
    text-align: right;
    margin: 30px 0 0 0;
    .container {
    	padding: 0;
    }
    .page-numbers {
	    background: $blue-primary;
	    color: #fff;
	    padding: 7px 10px;
	}
	.current {
	    background: $blue-nhat;
		color: #fff;
	}
}



//pagenavi listing
.pagination {
	display: block;
    text-align: right;
    width: 100%;
    ul {
    	list-style-type: none;
	    margin: 30px auto 0;
	    display: inline-block;
	    padding: 0;
	    li {
		    float: left;
		    padding: 0 3px;
		    a, span {
			    background: $blue-primary;
			    padding: 7px 10px;
			    color: #fff;
			}
			.current {
			    background: $blue-nhat;
    			color: #fff;
			}
		}
	}
}