@font-face{
    font-family: Arial Regular;
    src: url('../fonts/arial.ttf');
}
a:hover, a:focus, a:active{ text-decoration: none; outline: none; @include transition(all 500ms ease 0s); }
input, select, textarea { outline: none; }
input:focus, select:focus, textarea:focus { outline: none; }
img { max-width: 100%; height: auto; }

body {
	font-family: Arial Regular;
}
figure {
    margin: 0;
}
.widget p {
    margin: 0;
}

.msc-listing {
    width: 100%;
}

.banner-no-home img {
    width: 100%;
}

.main {
    display: inline-block;
    width: 100%;
}

.widget-title {
    background: rgba(0, 0, 0, 0) url("../images/icon-title.png") no-repeat scroll left center;
    color: $blue-nhat;
    font-size: 14px;
    text-transform: uppercase;
    padding: 7px 25px;
    margin-top: 15px;
    font-weight: bold;
    border-bottom: 2px solid #d2d2d2;
    margin-bottom: 20px;
    padding-left: 20px;
    img{
        margin-right: 5px;
    }
}
.box-sidebar .widget-title, .widget .widget-title{
    background: rgba(0, 0, 0, 0) url("../images/icon-title.png") no-repeat scroll left center;
    padding-left: 20px;
    padding: 7px 25px;
}
.entry-title{
    font-size: 18px;
    font-weight: bold;
    color: #0054a6;
    text-transform: uppercase;
}

.page-header{
    background: url('../images/icon-title.png');
    background-repeat: no-repeat;
    min-height: 30px;
    h1{
        margin: 30px 0px;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: $blue-color;
        padding-left: 30px;
    }
}

.read-more{
    font-size: 13px;
    font-weight: bold;
    color: $blue-nhat;
    span {
        letter-spacing: -2px;
    }
}


/* @extend background-cover; */
background-cover {
    @include background-size( cover );
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
}
/* @extend border-radius-image; */
border-radius-image {
    border: 3px solid #ccc;
}
                
.right-bar {
    bottom: 10%;
    cursor: pointer;
    position: fixed;
    right: 0;
    width: 50px;
    z-index: 1000;
    a {
        background-color: #aaa;
        @include border-radius( 50px 0 0 50px );
        color: #fff;
        display: block;
        float: left;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        margin-bottom: 1px;
        padding-left: 100%;
        transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, padding 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, margin 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s, background-color 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
        white-space: nowrap;
    }
    .right-bar-mail {
        background: $blue-primary url("../images/icon-mobile-mail.png") no-repeat scroll 13px center;
    }
    .right-bar-phone {
        background: $blue-primary url("../images/icon-mobile-phone.png") no-repeat scroll 13px center;
    }
    .back-to-top {
        background: $blue-primary url("../images/icon-mobile-backtotop.png") no-repeat scroll 13px center;
    }
}
.left-bar{
    position: fixed;
    z-index: 1000000;
    background: $blue-color;
    bottom: 0px;
    padding: 10px;
    @include border-radius(10px);
    a{
        color: #fff;
        font-size: 14px;
        i{
            color: red;
        }
    }
}
.map-footer{
    margin-top: -20px;
}
.clearboth{
    clear: both;
}




