.footer {
    clear: both;
}
.footer-category{
    .theme-0{
        .title-widget-post{
            a{
                h3{
                    color: #fff;
                    font-size: 14px;
                    background: none;
                    border: none;
                    @include border-radius(0px);
                    padding: 0px;
                    text-align: justify;
                    text-transform: none;
                }
            }
        }
    }
}
.footer-top {
    background: #152a51;
    color: #fff;
    padding: 25px 0;
    .widget-title {
        background: transparent none repeat scroll 0 0;
        color: #fff;
        margin-bottom: 20px;
        padding: 0;
        margin-top: 0;
        border-bottom: none;
    }
}

.footer-logo {
    a {
        display: block;
        text-align: center;
        margin: 15px 0 0;
    }
    span {
        font-size: 11px;
        padding: 5px 15px 0;
        display: block;
        text-align: center;
        text-transform: uppercase;
    }
}

.footer-address-content {
    span {
        display: block;
        font-size: 14px;
        a {
            color: #fff;
            display: inline-block;
            vertical-align: top;
            width: 92%;
        }
        .fa {
            min-width: 20px;
            text-align: center;
            font-size: 16px;
        }
    }
}


.footer-bottom span {
    display: block;
    text-align: center;
    background: $blue-primary;
    color: #fff;
    font-size: 13px;
    padding: 5px 15px;
}

.footer-category .title-widget-post a h3 {
    color: #fff;
    font-size: 14px;
}

.footer-statistic ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-size: 14px;
    li {
        label {
            min-width: 220px;
            line-height: 1.1;            
            .fa {
                min-width: 15px;
                text-align: center;
                font-size: 14px;
                margin-right: 4px;
            }
        }
    }
}

.map-content {
    border: 10px solid #ffffff;
    margin: 30px 0;
    @include box-shadow(0 0 5px 0 #ccc);
    @include border-radius(13px);
}

.partner-content {
    border-top: 2px solid $blue-primary;
    .item {
        width: 14.28%;
        float: left;
        margin: 30px 0;
        figure {
            padding: 0 20px;
            img {
                @extend background-cover;
                @include background-size( contain );
            }
        }
    }
}

