
.header-top-content {
    display: flex;
    display: -webkit-flex;
    padding: 20px 0;
    white-space: nowrap;
    @include justify-content( space-between );
    @include align-items( center );
    .search-header {
        width: 45%;
    }
}

.logo {
    @include align-items( center );
    display: flex;
    display: -webkit-flex;
    a {
        margin-right: 10px;
        img {
            max-width: inherit;
        }
    }
    .slogan {
        span {
            display: block;
            font-size: 13px;
            line-height: 1.3;
            font-style: italic;
            font-weight: 600;
            color: $blue-nhat;
            &:first-child {
                text-transform: uppercase;
                font-style: normal;
                font-weight: 500;
                color: $blue-primary;
            }
        }
    }
}

.search-box {
    form {
        margin: auto;
        position: relative;
        width: 60%;
        input {
            display: block;
            width: 100%;
            @include border-radius(2px);
            border: 1px solid $blue-primary;
            padding: 2px 10px;
        }
        .search-icon .fa {
            position: absolute;
            top: 50%;
            right: 10px;
            @include transform(translateY(-50%));
            color: $blue-primary;
        }
    }
}
.header-right{
    .list-icon{
        margin-bottom: 10px;
        a{
            img{
                margin-right: 30px;
            }
            &:last-child{
                img{
                    margin-right: 0px;
                }
            }
        }
    }
    .fast-category{
        .btn-primary{
            background-color: #fff;
            color: #000;
        }
        .dropdown-toggle{
            background-color: #fff;
            box-shadow: none;
            font-size: 14px;
            // padding: 5px 79px 5px 10px;
            width: 100%;
            &:after{
                margin-left: 108px;
            }
        }
        .btn-primary{
            &:active{
                background-color: #fff;
                color: #000;
                box-shadow: none;
            }
        }
        .dropdown-menu{
            width: 100%;
            padding: 0px;
            a:hover{
                background: $blue-nhat;
            }
        }
        .menu{
            padding: 0px;
            // padding-left: 10px;
            height: auto;
            margin-bottom: 0px;
            &:after{
                height: 0px;
            }
                background: #fff;
                .menu-item {
                    list-style: none;
                    padding: 5px 20px 5px 10px;
                    &:hover{
                         background: $blue-primary;
                         a{
                            color: #fff;
                         }
                    }    
                    a{
                        font-size: 14px;
                        color: #000;
                        &:hover{
                            background: $blue-primary;
                        }
                    }
                }
        }
    }
}

.contact-header-content {
    display: flex;
    display: -webkit-flex;
    @include justify-content(space-between);
    a {
        padding: 0 0 0 55px;
        margin-left: 15px;
        span {
            display: block;
            font-size: 14px;
            color: #000;
            &:first-child {
                text-transform: uppercase;
            }
        }
    }
    .contact-email {
        background: rgba(0, 0, 0, 0) url("../images/icon-mail.png") no-repeat scroll left center;
    }
    .contact-hotline {
        background: rgba(0, 0, 0, 0) url("../images/icon-phone.png") no-repeat scroll left center;
    }
}
