.menu-gioi-thieu {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        li {
            position: relative;
        }
    }

    a {
        color: #000000;
        display: inline-block;
        padding: 5px 20px;
        font-size: 14px;
    }

    > ul {
        > li {
            background: #dae9ff;
            margin-top: 5px;
            position: relative;
            width: calc(100% - 15px);

            .sub-menu {
                background: #ffffff none repeat scroll 0 0;
                display: none;

                li {
                    a {
                        background: #fff url("../images/icon-right-sidebar.png") no-repeat scroll 20px 12px;
                        color: #000000;
                        padding-left: 35px;
                        display: block;
                    }
                }
            }

            &::after {
                border-bottom: 14px solid transparent;
                border-left: 16px solid #dae9ff;
                border-top: 14px solid transparent;
                content: "";
                height: 30px;
                left: 100%;
                position: absolute;
                top: 0;
                width: 30px;
            }

            > a {
                margin-right: 30px;
            }
        }
        > .sub-click{
            .sub-click-show {
                position: absolute;
                right: 0;
                margin: 0;
                color: #fff;
                @include border-radius( 50% );
                top: 6px;
                background: $blue-primary;
                padding: 0 0 0px 1px;
                font-size: 20px;
                height: 20px;
                width: 20px;
                font-weight: bold;
                display: flex;
                display: -webkit-flex;
                @include align-items( center );
                @include justify-content( center );
            }
            .sub-click-del {
                display: none;
            }
        }
    }
}


.newslooks {
    .item {
        display: inline-block;
        width: 100%;
        margin-bottom: 10px;
        figure {
            max-width: 150px;
            float: left;
            width: 100%;
            margin-right: 10px;
            img {
                @extend background-cover;
            }
        }
        .title-widget-post {
            width: calc(100% - 160px);
            float: right;
            a h3 {
                color: $blue-title;
                font-size: 14px;
            }
        }
    }

}

.theme-0 .title-widget-post a h3 {
    color: $blue-color;
    background: #ecf0f1;
    font-size: 14px;
    border: 2px solid $blue-color;
    @include border-radius(5px);
    padding: 12px;
    text-align: justify;
}

.theme-1 .title-widget-post a h3 {
    background: $blue-primary;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: normal;
    padding: 12px;
}

.box-sidebar .theme-4 .item {
    @include flex(1 1 100%);
    max-width: 100%;
    width: 100%;
}
.list-sidebar{
    // border: 1px solid #0054a6;
    padding: 5px;
    margin-bottom: 5px;
    background-color: #ecf0f1;
    a{
        
        h2{
            font-size: 14px;
            color: $blue-title;
            display: inline-flex;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    &:hover{
        background-color: $blue-primary;
        a{
            h2{
                color: #fff;
            }
        }
    }
}
.widget_media_image{
    margin-bottom: 20px;
    .widget-title{
        margin-bottom: 0px;
        background-color: #ecf0f1;
    }
}
.gis_system{
    margin-top: 20px;
    background-color: #ecf0f1;
    h2{
        font-size: 14px;
        margin-left: 10px;
        a{
            color: $blue-nhat;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}