.affiliated_units{
	.affiliated_units_content{
		.nav-tabs{
			border-bottom: none;
			.nav-item{
				a{
					color: $blue-contact;
					border: none;
					background: #ecf0f1;
					border-radius: 0px;
					margin-right: 3px;
					padding: 5px 20px;
					font-size: 14px;
				}
				.active{
					background: $blue-primary;
					color: #fff;
				}
			}
		}
		.tab-content{
			margin-top: 20px;
			font-size: 14px;
		}
		.title{
			max-width: 20%;
			float: left;
			margin-right: 10px;
			h2{
				background: #d9d9d9;
				padding: 8px 30px;
				a{
					font-size: 16px;
					text-transform: none;
				}
				&:hover{
					background: $blue-contact;
					a{
						color: #fff;
					}
					
				}
			}
		}
	}
}