.api-search-invoice {
    display: block;
    @include justify-content(space-between);
    .info, .order{
        display: none;
    }
    .item {
        width: 100%;
        background: #243d80;
        padding: 20px 10px;
        text-align: center;
        color: #fff;
        margin-bottom: 15px;
        &:nth-child(2), &:last-child{
            display: none;
        }
        .api-title {
            font-size: 12px;
            text-transform: uppercase;
            padding: 0px 40px;
        }
        form {
            .form-group {
                display: flex;
                display: -webkit-flex;
                margin: 0 0 5px 0;
                label {
                    font-size: 14px;
                    white-space: nowrap;
                    min-width: 75px;
                    text-align: left;
                }
                input {
                    width: calc(100% - 75px);
                    height: 25px;
                    @include border-radius(5px);
                    border: none;
                    padding: 0 10px;
                }
            }
            .img-illustrative {
                font-size: 12px;
                text-align: left;
                font-style: italic;
                a {
                    text-decoration: underline;
                    color: #fff;
                    font-size: 10px;
                    display: inline-block;
                }
            }
        }
        .api-button a {
            color: #fff;
            border: 2px solid #fff;
            @include border-radius(5px);
            padding: 5px 15px;
            display: inline-block;
            margin: 10px 0 0 0;
            background: transparent;
            font-size: 14px;
            -webkit-appearance: unset;
            -moz-appearance: unset;
            -o-appearance: unset;
            -ms-appearance: unset;
        }
    }
}

