.intro-page{

	.content-contact{
		h1{
			color: $blue-contact;
			text-transform: uppercase;
			font-size: 20px;
			font-weight: bold;
		}
		p{
			i{
				color: $blue-contact;
				margin-right: 10px;
				width: 11px;
			}
			&:last-child{
				text-align: center;
			}
		}
	}
}