
.document{
	width: 100%;
	margin-bottom: 30px;
	.content-document{
	    display: flex;
	    display: -webkit-flex;
	    @include flex-wrap(wrap-reverse);
		.table-document{
		    width: 100%;
		    position: relative;
		    &:after, &:before {
		    	content: "";
			    position: absolute;
			    width: 1px;
			    height: 100%;
			    background: #000;
			    top: 0;
		    }
		    &:after {
			    left: 0;
			}
		    &:before {
			    right: 0;
			}
		    tbody {
		    	width: 100%;
			    &:after, &:before {
			    	content: "";
				    position: absolute;
				    width: 100%;
				    height: 1px;
				    background: #000;
				    left: 0;
			    }
			    &:after {
				    top: 0;
				}
			    &:before {
				    bottom: 0;
				}
		    }
			.row-document{
				margin-left: 0px;
				margin-right: 0px;
				.colvb{
					border: 1px solid #efefef;
					padding: 5px;
					a {
						color: $blue-nhat;
					}
				}
				td.colvb:first-child, td.colvb:nth-child(2){
					text-align: center;
				}
				td.colvb{
					a{
						color: $blue-color;
					}
				}
				.titlevb{
					color: $blue-color;
					text-align: center;
				}
			}
		}

	}
}