.tin-noi-bat{
	section{
		border: 1px solid #243d80;
		@include border-radius(12px 12px 0 0);
		h2{
			background: #243d80;
			margin: 0px;
			color: #fff;
			@include border-radius(8px 8px 0 0);
		}
		.theme-2{
		    padding: 0px 20px 0px 40px;
		    max-height: 280px;
		    overflow: auto;
		    .title-widget-post{
		    	position: relative;
    			border-bottom: 1px solid #efefef;
    			&::before{
				    position: absolute;
				    content: "";
				    width: 8px;
				    @include border-radius(50%);
				    background: #1f89ca;
				    top: 17px;
				    height: 8px;
				    left: -24px;
    			}
    			a{
    				margin-bottom: 0px;
    				h3{
					    font-size: 14px;
					    font-weight: normal;
					    color: #243d80;
					    padding: 10px;
					    margin-bottom: 0px;
					    line-height: 20px;
					    padding-left: 0px;
					    &:hover{
					    	color: #000;
					    }
    				}
    			}
		    }
		}
	}
}
.theme-4 {
	.msc-listing {
	    display: flex;
	    display: -webkit-flex;
	    @include flex-wrap( wrap );
	    @include justify-content(space-between);
	    .item {
	    	width: 32%;
	    }
	}
	.title-widget-post {
	    background: #ecf0f1 none repeat scroll 0 0;
	    margin-bottom: 10px;
	    &:hover {
		    background-color: $blue-primary;
		    a {
		    	h3 {
		    		color: #fff;	
		    	}
		    }
		}
	    a {
		 	background-position: 10px center;
		    background-repeat: no-repeat;
		    display: block;
		    padding-left: 40px;
		    width: 100%;
		    h3 {
				@include align-items(center);
				color: #000;
			    display: flex;
			    display: -webkit-flex;
				font-size: 14px;
				font-weight: normal;
				height: 50px;
				margin: 0;
				padding: 0 10px;
			}
		}
	}
}

.theme-5 {
	.msc-listing {
	    display: flex;
	    display: -webkit-flex;
	    @include flex-wrap(wrap);
	}
	.item {
		margin: 0 0 20px 0;
		display: inline-block;
    	width: 100%;
		figure {
		    margin-right: 10px;
		    max-width: 160px;
		    width: 100%;
		    float: left;
		    overflow: hidden;
		    border: 3px solid #ccc;
		    &:hover{
		    	border: 3px solid $blue-primary;
		    }
		    a {
			    img {
					    @extend background-cover;
					    background-repeat: no-repeat;
					    background-position: center center;
					    @include transition(all 0.8s ease 0s);
					    &:hover{
					    	@include transform(scale(1.2, 1.2));
					    	border: none;
					}
		    	}  
			}
		}
		.info {
			width: calc(100% - 170px);
    		float: left;
			.title a h3 {
			    font-size: 15px;
			    max-height: 45px;
			    margin-bottom: 0;
			    line-height: 1.4;
			    overflow: hidden;
			    color: $blue-primary;
			    &:hover{
					color: $blue-color;
			    }
			}
			.date {
			    color: #000;
			    font-size: 12px;
			    margin: 2px 0;
			}			
			.desc {
			    font-size: 14px;
			    text-align: justify;
			    line-height: 18px;
			    color: #999;
			}
			.read-more {
			    display: block;
			    text-align: right;
			}
		}
	}
	.first {
		figure {
		    margin: 0 20px 0 0;
		    max-width: 310px;
		    border: 3px solid #ccc;
		    overflow: hidden;
		}
		.info {
			width: calc(100% - 330px);
    		float: left;
    		.title a h3{
    			margin-bottom: 15px;
    			font-size: 20px;
    			max-height: 60px;
    		}
    		.desc{
    			font-size: 16px;
    		}
			.read-more {
			    background: $blue-primary;
			    @include border-radius(5px);
			    color: #fff;
			    display: inline-block;
			    float: right;
			    padding: 7px 20px;
			}
		}
	}
}

.front-page-content {
	.box-sidebar {
		margin-top: 20px;
	}
}
.message{
	.widget-title{
		color: red;
		background: rgba(0, 0, 0, 0) url("../images/loa-phuong.png") no-repeat scroll left center;
	}
}
.mesage-content{
	p{
		text-align: justify;
		font-size: 14px;
	}
}