.thu-vien-sidebar {
    margin-top: 10px;
    h1 {
        text-align: center;
        color: #243d80;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 15px;
    }
    .wp-posts-carousel-container {
        padding: 0 !important;
        border: none !important;
        box-shadow: none !important;
        background-color: transparent !important;
        &:hover {
            background-color: transparent !important;
            border: none !important;
            box-shadow: none !important;
        }
    }

    .wp-posts-carousel-title {
        font-size: .875rem !important;
        a {
            color: #333 !important;
            font-weight: 600;
            text-transform: lowercase;
            font-size: 14px;
            &:hover {
                color: #2196F3;
            }
        }
    }

    .compact-theme.wp-posts-carousel {
        margin-top: -58px;
        .wp-posts-carousel-slide {
            padding-top: 55px !important;
        }
        .wp-posts-carousel-title {
            margin-top: 10px;
            a {
                text-transform: capitalize;
            }
        }
        .wp-posts-carousel-image img {
            width: 100% !important;
        }
        .owl-controls .owl-nav {
            div {
                top: 12px !important;
            }
            .owl-prev {
                right: 45px !important;
            }
        }
        .owl-controls .owl-nav div {
            padding: 0px 14px 0 10px !important;
            background-color: #ecf0f1 !important;
            color: #a0aaab !important;
            border: none !important;
            transition :none !important;
            &:hover {
                background-color: #4765a0 !important;
                color: #fff !important;
            }
        }
    }
    .thu-vien {
        .slick-prev {
            top: -38px;
            left: 0px;
            @include border-radius(50%);
        }
        .slick-next {
            right: 0px;
            top: -38px;
            @include border-radius(50%);
        }
        .item {
            h2 {
                text-align: center;
            }
        }
    }
    #gallery {
        .owl-nav {
            background-color: transparent;
            .owl-next,
            .owl-prev {
                background-color: transparent;
            }
        }
        .light-theme {
            .wp-posts-carousel-title {
                margin-top: 0px;
                a {
                    text-transform: uppercase;
                    color: $blue-title !important;
                }
            }
            &.wp-posts-carousel {
                overflow: visible !important;
            }
            .owl-controls .owl-nav .owl-next {
                opacity: 1 !important;
                background: url('../../../resources/assets/images/right-arrow.png') center center no-repeat !important;
                right: -50px !important;
                background-color: transparent;
            }
            .owl-controls .owl-nav .owl-prev {
                opacity: 1 !important;
                background: url('../../../resources/assets/images/left-arrow.png') center center no-repeat !important;
                left: -50px !important;
                background-color: transparent;
            }
            .owl-controls .owl-nav div {
                border: none !important;
                width: 35px !important;
                height: 55px !important
            }
            &.wp-posts-carousel .owl-nav div::before {
                content: '' !important;
            }
        }
        .gallery-item {
            a {
                color: $blue-nhat;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: bold;
                &:hover {
                    color: #2196F3;
                }
            }
        }
        .sidebar-style {
            h2 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 14px;
                text-align: center;
                background-color: #ecf0f1;
                padding: 10px;
            }
        }
        .light-theme {
            .owl-controls .owl-nav .owl-next {
                opacity: 1 !important; // background: url('../../asset/images/right-arrow.png') center center no-repeat !important;
                right: 0 !important;
                top: 0% !important;
            }
            .wp-posts-carousel-slide {
                margin-left: 0 !important;
                width: 100%;
                padding: 0;
            }
            .wp-posts-carousel-image {
                padding-top: 0 !important;
                img {
                    width: 100% !important;
                }
            }
            .owl-controls .owl-nav .owl-prev {
                opacity: 1 !important; // background: url('../resources/assets/images/left-arrow.png') center center no-repeat !important;
                left: 0 !important;
                top: 0% !important;
            }
            .wp-posts-carousel-details {
                min-height: 60px;
                padding-bottom: 0 !important;
                .wp-posts-carousel-title {
                    margin-top: 10px !important;
                }
            }
        }
    }
}