.intro-page{
	color : #000;
	.other-news{
		.content{
			h1{
				color: $blue-color;
				text-transform: uppercase;
				font-size: 29px;
				margin-bottom: 10px;
			}
			p{
				font-size: 14px;
			}
		}
		.other-news-title{
			color: $blue-color;
			text-transform: uppercase;
			margin-top: 20px;
			h2{
				font-size: 24px;
				font-weight: bold;
			}

		}
		.other-news-content{
			ul{
				padding-left: 10px;
				li{
					list-style: none;
					a{
						color: #000;
						font-weight: bold;
						font-size: 16px;
					}
				}
			}
		}
	}
}