.menu {
	position: relative;
    width: 100%;
    display: block;
    background: $blue-primary;
    height: 42px;
    &::after {
	    background: red;
	    content: "";
	    height: 100%;
	    position: absolute;
	    right: 100%;
	    top: 0;
	    width: 100%;
	    z-index: -1;
	}
    .main-menu {
		> div {
	        ul {
	        	list-style-type: none;
			    margin: 0;
			    padding: 0;
	            li {
	                position: relative;
	                a {
					    color: #ffffff;
					    display: block;
					    font-size: 14px;
					    padding: 10px 12px;
					    position: relative;
					    text-transform: uppercase;
					    white-space: nowrap;
	                }
	                .sub-menu{
						li{
							&:last-child{
								a{
									border-bottom: none;
								}
							}
							a{
								text-transform: none;
								color: #444;
								font-size: 13px;
								border-bottom: 1px solid #000;
								padding: 8px 10px;
								&:hover{
									color: #fff;
								}
							}
						}
	                }
	                &:hover {
	                    > a {
						    background: $blue-nhat;
						}
	                    > .sub-menu {
	                        @include transform( scale(1, 1) );
	                    }
	                }
	            }
	            .current-menu-item > a {
	            	background: $blue-nhat;
	            }
	        }
	        > ul {
	            > li {
	                float: left;
	                .sub-menu {
	                	background: #fff;
	                    left: 0;
	                    position: absolute;
	                    top: 100%;
	                    z-index: 2222;
	                    min-width: 250px;
					    @include transform( scale(1, 0) );
					    @include transform-origin( 0 0 0 );
					    @include transition( all 400ms ease 0s );
	                    .sub-menu {
						    left: 100%;
						    top: 0;
	                    }
	                    li {
	                    	a {
								
	                    	}
	                    }
	                }
	                &:first-child {
	                	a {
						    padding: 8px 10px;
						    .fa {
							    font-size: 24px;
							}
						}
					}
	            }
	        }
	    }
	}
}

.menu {
	.search-box {
		display: none;
	    position: absolute;
	    right: 10px;
	    top: 50%;
	    @include transform( translateY(-50%) );
	    z-index: 10;
	    form {
		    width: 230px;
		}
	}
}

//menu mobile
.menu .mean-container {
    position: relative;
}
.menu .mean-container .mean-bar {
    background: none;
    left: 0;
    padding: 2px 0 4px;
    position: absolute;
    top: 1px;
    z-index: 9;
    max-width: 300px;
}
.menu .mean-container .mean-bar .meanmenu-reveal {
	background: $blue-primary;
    border: 1px solid rgba(255, 255, 255, 0.5);
    left: 0 !important;
    top: 0;
    height: 20px;
    line-height: 20px;
    width: 22px;
    padding: 10px 11px 10px;
}
.menu .mean-container .mean-bar .mean-nav {
    background: $blue-primary !important;
    margin-top: 40px;
}
.menu .mean-container .mean-nav ul li a {
    font-size: 18px;
    padding-bottom: 6px;
    padding-top: 10px;
    text-transform: none;
}
.menu .mean-container .mean-nav ul li .mean-expand {
    height: 19px;
    line-height: 19px;
}
.menu .mean-container .mean-nav ul li .mean-expand:hover {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
}


