.new_news {
	margin-top: 20px;
	.news-content{
		img{
			@extend background-cover;
		}
		.wp-posts-carousel{
			.wp-posts-carousel-title{
				height: 65px;
				overflow: hidden;
				a{
					color: $blue-title;
					font-size: 14px;
				}
			}
			.wp-posts-carousel-image{ 
				img{
					min-height: 174px;
					height: 174px;
				}
			}
		}
			
	}
	.slick-prev{
		right: 0px;
	    top: -25px;
	    left: 87%;
	    @include border-radius (5px);
	}
	.slick-next{
		top: -25px;
		@include border-radius (5px);
		right: 9px;
	}
}