.news-mention{
	.nav-tabs{
		border-bottom: none;
		.nav-item{
			a{
				color: $blue-contact;
				border: none;
				background: #ecf0f1;
				@include border-radius(0px);
				margin-right: 3px;
				padding: 10px 20px;
				font-size: 14px;
			}
			.active{
				background: $blue-primary;
				color: #fff;
			}
			.nav-link{
				&:hover{
					background: $blue-primary;
					color: #fff;
				}
			}
		}
	}
	.tab-content{
		margin-top: 10px;
		.read_more_news{
			margin-bottom: 10px;
		}
		.tab-pane{
			.title{
					a{
						h3{
							font-size: 14px;
							color: $blue-title;	
						}
						span{
							color: #000;
						}
					}

			}
		}
	}
}