@media screen and (max-width: 1199px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
//end 1200px

@media screen and (max-width: 1024px) {
	.menu {
	    height: 44px;
	}
	.menu .search-box {
		display: block;
	}
	.search-header {
		display: none;
	}
	.list-sidebar a h2{
		font-size: 12px;
	}
}
//end 1024px

@media screen and (max-width: 992px) {
	.footer-top .widget-title {
	    margin-bottom: 10px;
	}
	.footer-top {
		.row {
		    display: flex;
		    .footer-logo {
			    @include order(1);
			    margin-bottom: 30px;
			    .footer-logo-content {
				    display: inline-block;
				}
			}
			.footer-address {
			    @include order(3);
			}
			.footer-category {
			    @include order(4);
			}
			.footer-statistic {
			    @include order(2);
			    margin-bottom: 30px;
			}
		}
	}
	//menu gioi thieu
	.menu-gioi-thieu{
		a{
			padding: 5px 15px;
		}
	}
	//box news home
	.home-content .theme-5 figure {
	    max-width: 100%;
	    margin: 0 0 5px 0;
	}
	.home-content .theme-5 .info {
	    width: 100%;
	}
	.list-sidebar a img{
		width: 10%;
	}
}
//end 992px

@media screen and (min-width: 768px) and (max-width: 992px) {
	//dvkh home
	.api-search-invoice {
		@include flex-wrap( wrap );
	}
	.api-search-invoice .item {
		width: 100%;
	    margin-bottom: 15px;
	}
}

@media screen and (min-width: 768px) {
	.right-bar {
	    > a:hover {
	        background-color: #23a0e1;
	        color: #fff;
	        margin-left: 70px;
	        padding-left: 50px;
	        padding-right: 25px;
	        text-decoration: none;
	        @include transform(translateX(-100%));
	    }
	}
}

@media screen and (max-width: 767px) {
	.contact-header {
		display: none;
	}
	.right-bar {
		.right-bar-mail, .right-bar-phone {
			display: block;
		}
	}
	//banner
	.banner{
		.banner-content{
			margin-bottom: 30px;
		}
	}
	//related news
	.related-content .item figure {
	    max-width: 100%;
	}
	.widget_media_image img{
		width: 100%;
	}
}
//end 767px

@media screen and (max-width: 575px) {
	.footer-address {
		margin-bottom: 30px;
	}
	//văn bản pháp luật
	.van-ban{
		.content-van-ban{
			.table-van-ban{
				.colvb{
					font-size: 14px;
				}
			}
		}
	}
	//footer
	.footer-top{
		.row{
			.footer-logo{
				.footer-logo-content{
					display: block;
				}
			}
		}
	}
	//doi tac
	.partner{
		.partner-content{
			.item{
				figure{
					padding: 0 10px;
				}
			}
		}
	}
	//dvkh home
	.api-search-invoice {
		@include flex-wrap( wrap );
	}
	.api-search-invoice .item {
		width: 100%;
	    margin-bottom: 15px;
	}
	.theme-4 .msc-listing .item {
	    width: 49%;
	}
}
//end 575px

@media screen and (max-width: 480px) {
	//water home
	.cate{
		.first{
			.info{
				width: 100%;
			}
		}
		.item{
			display: inline-block;
			figure{
				max-width: 100%;
			}
			.info{
				margin-top: 10px;
				width: 100%;
			}
		}
		.first{
			max-width: 100%;
		}
	}
	//doi tac
	.partner{
		.partner-content{
			.item{
				// width: 50%;
				figure{
					width: 100%;
					padding: 0px;
				}
			}
		}
	}
	//trang chi tiết bài viết
	.single{
		.single-content{
			.entry-content{
				p{
					text-align: justify;
				}
			}
		}
	}
	//theme-5
	.theme-5{
		.item{
			.info{
				.title a h3{
					max-height: 100%;
					height: 100%;
				}
			}
		}
	}
	.header-top-content{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.header-right .chuyen-muc .dropdown-toggle{
		width: 100%;
	}
	.mesage-content p{
		margin-top: 20px;
	}
	.logo{
		margin-bottom: 15px;
	}
}

//end 480px

@media screen and (max-width: 400px) {
	//header
	.header-top{
		.contact-header{
			margin-left: 5px;
		}
	}
	//dvkh
	.theme-4 .msc-listing .item {
	    width: 100%;
	}
	//box news
	.theme-5 .item figure {
	    max-width: 100%;
	    margin: 0 0 5px 0;
	}
	.theme-5 .item .info {
	    width: 100%;
	}
	.theme-5 .item {
	    max-width: 100%;
	    flex: 0 0 100%;
	}
}
//end 400px

@media screen and (max-width: 320px) {
	//header
	.header-top{
		.contact-header{
			margin-left: -8px;
			.contact-header-content{
				a{
					span{
						font-size: 13px;
					}
				}
			}
		}
	}
	//footer
	.footer-top{
		.footer-address{
			.footer-address-content{
				span{
					a{
						font-size: 11px;
						display: initial;
					}
				}
			}
		}
	}
}




